*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.config/
# Gradle files
.gradle/
build/

# Local configuration


# Log files
*.log

# Android Studio

.idea/

# Keystore
*.jks
*.keystore

# External native build

# Google Services
google-services.json

# Sensitive raw files
/app/src/main/res/raw/sheets_key.json
/app/src/main/res/raw/gcs_key.json